.app {
    --bg-color-1: #9db3ed;
    --bg-color-2: #f9f9f9;
    --text-color-1: #0b1537;
    --text-color-2: #636363;
    --sym-color-1: #9db3ed;
    --key-color-1: #515255;
    --bg-color-3: #0d042c;
    --shadow-color-1: #cac9c9;
  }
  
  .app[data-theme="dark"] {
    --bg-color-1: #172d67;
    --bg-color-2: #050c26;
    --text-color-1: #fbfcfc;
    --text-color-2: #bbbcbc;
    --sym-color-1: #60fd94;
    --key-color-1: #a1a1a1;
    --bg-color-3: #beffd3;
    --shadow-color-1: #000000;

  }
  .custom-scroll::-webkit-scrollbar{
    height: 5px;
    width: 5px;
  }
  .custom-scroll::-webkit-scrollbar-track{
    background-color: transparent;
  }
  .custom-scroll::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.14);
  }
  .custom-scroll::-webkit-scrollbar-thumb:hover{
    background-color: gray;
  }
.app{
    background: var(--bg-color-3);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app_calculator{
    height: 500px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px var(--shadow-color-1);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.app_calculator_navbar{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    min-height: 40px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.app_calculator_navbar img{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 24%;
    left: 17%;
    border-radius: 50%;

}
.app_calculator_navbar_toggle{
    height: 15px;
    width: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 40px 80px rgba(0,0,0,0.14);
}
.app_calculator_navbar_toggle_circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    transition: 300ms;
}
.app_calculator_navbar_toggle_circle_active{
    margin-left: 15px;
}